*{
    margin: 0;
    padding: 0;
    font-family: Consolas;
}
button{
    cursor: pointer;
}
.title{
    text-align: center;
    font-weight: bold;
    background-color: #55f;
    color:#fff;
}
.title td{
    position: relative;
}
td[data-field=id],td[data-field=ssid],td[data-field=sstype]{
    text-align: center;
}
.title td[data-order]:hover{
    cursor: pointer;
}
[link-to]{
    cursor: pointer;
}
.title td{
    width: 5%;
}
.title td[data-row-number].title td[data-row-number-all]{
    width: 2%;
}
.title td:nth-child(3){
    width: 25%;
}
.title td[data-order=DESC]:after,.title td[data-order=ASC]:after,.title td[data-order=OFF]:after{
    transition: width 1s,background-color 1s;
    display: block;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 0;
    height: 3px;

}
.title td[data-order=OFF]:after{
    content: '';
    width: 0;
}
.title td[data-order=DESC]:after{
    width: 100%;
    content: '';
    background-color: #F00;
}
.title td[data-order=ASC]:after{
    width: 100%;
    content: '';
    background-color: #00F;
}
#table tr:last-child  td{
}
#table td{
    padding: 3px 5px;
    border-left: 3px solid #ffaaaa;
}
#table .line:nth-child(odd) td{
    border-left: 3px solid #ececec;
}
#table .line:nth-child(odd){
    background-color: #ffaaaa;
}
#table .line:nth-child(even){
    background-color: #ececec;
}
#table .line:hover{
    background-color: #55f;
    color: #fff;
}
#table .line:hover a{
    color: #fff;
}
.line td{
    position: relative;
}
#cover{
    display: block;
    position: absolute;
    z-index: 1000;
    border-radius: 4px;
}
.control{
    text-align: center;
    margin: 10px 0;
}
.control button{
    padding: 3px 7px;
    margin: 0 10px;
    background-color: #55f;
    border-radius: 3px;
    border: none;
    color: #fff;
}
.control button:hover{
    background-color: #aaf;
    color: #000;
}
.control input{
    outline: none;
    width: 300px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    outline-color: invert;
    border: 1px solid #55f;
    color: #55f;
}
.control select{
    width: 120px;
    font-size: 15px;
    line-height: 25px;
    border-radius: 3px;
    color: #daa;
    padding: 3px ;
    border: 1px solid #daa;
    outline: none;
}